@CHARSET "UTF-8";
/******* GENERAL RESET *******/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
 tfoot, thead, tr, th, td {
border:0pt none;
font-family:inherit;
font-size: 100%;
font-style:inherit;
font-weight:inherit;
margin:0pt;
padding:0pt;
vertical-align:baseline;
}
body{
	background: #fff;
	line-height:14px;
	font-size: 11px;
	font-family: Tahoma, Arial,  Verdana, Helvetica, sans-serif;
	margin:0pt;
	overflow: hidden;
	cursor: default !Important;
}
html,body{
	height:100%;
}
.clear{
	clear: both;
	height: 0;
	visibility: hidden;
	display: block;
}
a{
	text-decoration: none;
	color:#666;
}
/******* GENERAL RESET *******/
/******* MAIN *******/
#main{
	height: 100%;
	background: #fff;
	overflow: none;
}
/******* /MAIN  *******/
/******* ICONS *******/
#main div.icon{
	min-width: 48px;
	min-height: 48px;
	padding: 0px 14px 8px;
	border: 1px solid transparent;
	margin: 0pt auto;
	text-align: left;
	position: absolute;
	display: none;
}
#main div.icon_current{
	min-width: 48px;
	min-height: 48px;
	padding: 0px 14px 8px;
	border: 1px solid transparent;
	margin: 0pt auto;
	text-align: left;
	position: absolute;
	display: block;
	background-color: #FFC !Important;
	border: 1px solid #d0d0d0;
}
#main div.icon:hover{
	background-color: #FFC !Important;
	border: 1px solid #d0d0d0;
}
#main div.icon.active{
	background-color: #0a2c5e !Important;
	border: 1px solid #3b567e;
}
#main div.icon div.name{
	margin-top: 52px;
	text-align: center;
	color: #666;
}
#main div.icon_current div.name{
	margin-top: 52px;
	text-align: center;
	color: #666;
}
/*#main #mycomputer{
	background: transparent url(images/computer.png) no-repeat scroll center 4px;
	top: 32px;
	left: 32px;
}*/
#main #home{
	background: transparent url(images/start.png) no-repeat scroll center 4px;
	top: 32px;
	left: 32px;
}
#main #article{
	background: transparent url(images/book.png) no-repeat scroll center 4px;
	top: 32px;
	left: 120px;
}
#main #rss{
	background: transparent url(images/rss.png) no-repeat scroll center 4px;
	top: 128px;
	left: 32px;
}
#main #board{
	background: transparent url(images/chalk_board.png) no-repeat scroll center 4px;
	top: 128px;
	left: 120px;
}
#main #showcase{
	background: transparent url(images/folder.png) no-repeat scroll center 4px;
	top: 224px;
	left: 32px;
}

#main #picture{
	background: transparent url(images/picture.png) no-repeat scroll center 4px;
	top: 320px;
	left: 32px;
}
#main #contact{
	background: transparent url(images/mail.png) no-repeat scroll center 4px;
	top: 320px;
	left: 120px;
}

#main #trade{
	background: transparent url(images/sale.png) no-repeat scroll center 4px;
	top: 224px;
	left: 120px;
}
#main #trash{
	background: transparent url(images/trash.png) no-repeat scroll center 4px;
}
/******* /ICONS  *******/

/******* TASKBAR  *******/
#main #taskbar{
	width: 100%;
	height: 48px;
	line-height: 42px;
	background: #e6e6e6 url(images/taskbar.jpg) repeat-x left top;
	position: absolute;
	left: 0;
	bottom: 0px;
	padding: 4px 0px 1px 0px;
	display: none;
}
#main #taskbar #start{
	float: left;
	background: transparent url(images/start.png) no-repeat 4px -3px;
	width: 64px;
	margin: 0 4px 0 0;
	padding: 0 2px 0 42px;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	text-align: center;
	color:#2E2520;
}
/*#main #taskbar #start:hover{
	background-color: #FBFEF3;
}*/
#main #taskbar #start a{
	color:#2E2520;
}
	
#main #taskbar #clock{
	float: right;
	/*background:url(images/clock.png) no-repeat 4px center;*/
	padding: 0 8px 0 50px;
	font-size: 12px;
	
	font-weight: 700;
	text-align: center;
	color:#2E2520;
}
#main #taskbar #support_ie{
	float:left;	
	padding: 0 8px 0 50px;
	font-size: 12px;	
	font-weight: 700;
	text-align: center;
	color:#2E2520;
}
/******* /TASKBAR  *******/
#main #data{
	padding-left:20px;
	padding-top:5px;
		border-left:1px solid #d0d0d0 ;
	color:#666;
	font-size:14;
	margin-left:55px;
	
}
/******* /Gallery ******/
.gallery {
	list-style: none;
	margin: 0;
	padding: 0;
}
.gallery li {
	margin: 10px;
	padding: 0;
	float: left;
	position: relative;
	width: 180px;
	height: 130px;
}
.gallery img {
	background: #fff;
	border: solid 1px #ccc;
	padding: 4px;
}
.gallery span {
	width: 77px;
	height: 27px;
	display: block;
	position: absolute;
	top: -12px;
	left: 50px;
	background: url(images/tape.png) no-repeat;
}
.gallery a {
	text-decoration: none;
}